# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Thadé\Documents\Cours\L2S4\Conception et Développement d'une Application\Projet S4\Itération 3\Programme\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
